<div class="container align-content-center">
  <div class="section" *ngIf="comingSoonMovies.length">
    <h1>Coming Soon:</h1>

    <a *ngFor="let movie of comingSoonMovies" href="#" [routerLink]="['/video-details', movie.idIMDB]" class="movie-block">
      <div class="movie-wrapper">>
        <img class="poster" src="{{movie.urlPoster}}" alt="">
        <span class="title">{{movie.title}}</span>
      </div>
    </a>
  </div>

  <div class="section" *ngIf="topMovies.length">
    <h1>Best Movies:</h1>

    <a *ngFor="let movie of topMovies" href="#" [routerLink]="['/video-details', movie.idIMDB]" class="movie-block">
      <div class="movie-wrapper">>
        <img class="poster" src="{{movie.urlPoster}}" alt="">
        <span class="title">{{movie.title}}</span>
      </div>
    </a>
  </div>
</div>
