.movie-block {
  display: block;
  float: left;
  width: 20%;
  height: 130px;
  margin: 5px;
  background-color: black;
}

.section {
  display: inline-block;
}

.movie-wrapper {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
}

.poster {
  display: block;
}

.title {
  display: block;
  color: white;
}
