<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <form class="form-inline container">
    <input class="form-control col-md-10" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-info col-md-2" type="submit">Search</button>
  </form>
</nav>
<h1 class="container align-content-center">
  Search works!
</h1>
